.container {
  margin-bottom: 40px;

  .mySwiper {

    @media (min-width: 800px) {
      width: 1240px;
      height: 450px;
    }

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiperButtonPrev,
    .swiperButtonNext {
      position: absolute;
      top: 43.5%;
      margin: 0;
      box-sizing: border-box;
      width: 60px;
      height: 60px;
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFBA08;

      &::after {
        font-family: swiper-icons;
        font-size: 50px;
        text-transform: none !important;
        letter-spacing: 0;
        font-variant: initial;
        line-height: 1;
      }
    }

    .swiperButtonPrev {
      &::after {
        content: 'prev';
        font-size: 50px;
      }
      left: 20px;
      right: auto;
    }
    .swiperButtonNext {
      &::after {
        content: 'next';
        font-size: 50px;

      }
      right: 20px;
      left: auto;
    }
  }
}
